<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="/static/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="/static/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<div style="display: table-caption; margin-left: 50%; margin-top: 100%">
    <a class="button" href="/">HOME</a>
    <a class="button" href="/addtask_html">ADD</a>
    <a class="button" href="/view">MANAGE</a>
    <a class="button" href="/display">VIEW</a>
</div>



<div style="margin-top: -15%;">
    {% block body%}
        <div class="row">
            <h1>Hello World!</h1>
        </div>
    {% endblock %}
</div>



<script src="/static/foundation/js/foundation.min.js"></script>
<script src="/static/foundation/js/vendor/modernizr.js"></script>
<script src="/static/foundation/js/foundation/foundation.abide.js"></script>
<script>
    $(document).ready(function () {
        $(document).foundation();
    })

</script>
<script src="/static/script.js"></script>
</body>
</html>