{% extends "filters.html" %}

{% block content %}


    <form method="POST">
        <div class="section row" >
            <div class="columns large-4 small-5 ">
                from:<input type = "date" name = "fromdate" id="from"/>
            </div>
            <div class="columns large-4 small-5 ">
                  to:<input type = "date" name = "todate" id="to" />
            </div>
            <div class="columns large-2 small-2 end " style="padding-top: 25px">
                <input onclick="bydate_range()"  type="button" class="button postfix" value="submit">
            </div>

        </div>
    </form>

<div id="message" class="row columns large-centered"></div>

<script src="/static/script.js"></script>

{% endblock%}