<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Events{% endblock%}</title>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/foundation.min.js">



</head>
<body>
<div class="row">
    <div class="columns small-1">
        <br><img src='/static/icon.png' style="width: 50px; height: 50px;">
    </div>
    <div class="columns small-11 ">
        <h1 >Eventify</h1>
    </div>
</div>
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
    <li class="name">
      <h1><a href="/">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li> <a href="add_event_html">Add</a></li>
            <li> <a href="search_event_html">Search/Modify</a></li>
            <li><a href="filters_html">Filters</a></li>
        </ul>

  </section>
</nav>
<!--  body here -->
    <div id="content">{% block body %}{% endblock %}</div>

<div> Footer </div >
<script type="text/javascript" src="/static/foundation.min.js"></script>
<script type="text/javascript" src="/static/modernizr.js"></script>
</body>
</html>


