{% extends "filters.html" %}
{% block title %}List{% endblock%}
{% block content %}

<form action="/by_city" method="POST">
    <div class="row">
        <div class="large-10 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <select name="city">
                {%for i in data["cities"]%}
                    <option value="{{i}}">{{i}}</option>
                {%endfor%}
                    </select>


                </div>
                <div class="small-2 columns">
                        <button class = "button postfix" type="submit" value="submit">Submit</button><br><br>

                </div>
            </div>
        </div>
    </div>




</form>

{% endblock%}