{% block body %}

    <div class="row" style="margin-top: 0;">

        <form method="POST" data-abide name="">


            <div>
                <input id="product_name" type="text" value="[[ name ]]" disabled />
            </div>

            <div>
                <input id="product_rate" type="text" value="[[ rate ]]" disabled />
            </div>

            <div>
                <input id="quantity" type="number" min="1" placeholder="Number of selected items" />
            </div>

            <input onclick="place_order()" type="button" class="button postfix" value="PLACE ORDER"/>


        </form>

    <div id="message"></div>

    </div>


    <script style="text/javascript">
        window.name = {{ name|safe }};
        window.rate = {{ rate|safe }};
    </script>


{% endblock %}