<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter</title>
</head>
<body>

<button id="popup" onclick="div_show()">Popup</button>

<h3>Choose City</h3>
            <select id="city" name="city" placeholder = 'city'>
                <option value="hyderabad">hyderabad</option>
                <option value="chennai">chennai</option>
                <option value="banglore">banglore</option>
            </select>
            <br>
          <input type="submit" data-inline="true" value="SEARCH">
</body>
</html>


function div_show() {
document.getElementById('abc').style.display = "block";
}


