<!DOCTYPE html>
<html>
<head>
	<title>search</title>
<style>
form{
    border: solid grey;
    border-radius:5px;
    width:440px;
    height:385px;
    margin-top: 250px;
    margin-left: 675px;
    text-align: center;


}
#section{
    align:center;
	margin-top:30px;

}
</style>
</head>

<body>
<form >
    <br>
    <div style="font-family: toms handwritten new; font-size:24pt; text-align: center ">Enter Event ID</div>
    <hr>
    <br>
    <div id = "section" , style="font-family: toms handwritten new; font-size:20pt; border-radius:5px;" >
        <input type="text" name="event_id" placeholder="Event ID"> <br>
    </div>
    <br>

    <button type="submit", value="submit">SEARCH</button>

</form>

</body>
</html>