
<!DOCTYPE html>
<html>
<head>
<title>Popup contact form</title>

</head>



<body style="font-family: toms handwritten new; font-size:24pt; text-align: center; display: inline-block; verical-align: middle >


<form action="#" id="form" method="post" name="form">
<img id="close" src="images/3.png" onclick ="div_hide()">
<h2>Contact Us</h2>
<hr>
<input id="name" name="name" placeholder="Name" type="text"><br>
<input id="email" name="email" placeholder="Email" type="text"><br>
<textarea id="msg" name="message" placeholder="Message"></textarea><br>

    <button id="popup" onclick="div_show()">SEARCH</button>
</form>



</body>

</html>