{% load custom_filters %}

<div class="row">
    <div class="large-10 large-centered medium-10 medium-centered small-12 columns">
        <div style="padding: 10px;">
            <a id="scrollToTypes">
                <div class="curtain-type">
                    <img ng-src="{{ STATIC_CDN_URL|CDNMapper }}img/CustomCurtains/Banner.jpg"
                        style="border: 1px solid #adadad;border-radius: 3px;">
                </div>
            </a>
        </div>
        <div id="curtainTypes">
            <div ng-repeat="eachItem in listOfCurtains" style="padding: 10px;">
                <a ng-click="goToFabricState(eachItem.name)">
                    <div class="curtain-type cursor-pointer curtain-types">
                        <img ng-src="{{ STATIC_CDN_URL|CDNMapper }}img/CustomCurtains/{$ eachItem.newMainImage $}"><br>
                        <span>{$ eachItem.name $}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>