<div id="measurementGuideDoorWithRod" style="display: none;">
    <h6>Determine the measurements of your door curtains by performing the following steps:</h6>
    <div class="no-of-curtains-description margin-top-10">
        When curtain rod is not mounted:
    </div>

    <div class="curtain-modal-container columns">

        <ol>
            <li>
                To determine the width of the curtain, measure the width of the door frame and add 6
                inches on either side of the door frame.
            </li>
        </ol>
        <p>
            Note: This width of the curtain is also the length of your curtain rod. Once you provide us with
            the length of your curtain rod, we calculate how many curtains of a particular heading style
            would be required to cover your door.
        </p>

        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithoutRod1.jpg" alt="" width="332px;" height="371px;"
                 class="cursor-pointer">
        </div>
        <ol start="2">
            <li>
                To measure the height of your curtain, first determine the mount (where the curtain rod
                will be fitted) 6 inches above the door frame. Measure the distance from the mount to
                the lowest point where you want your curtain to fall.
            </li>
        </ol>
        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithoutRod2.jpg" alt="" width="317px;" height="422px;"
                 class="cursor-pointer">
        </div>
        <ol start="3">
            <li>
                Determine the lowest point of your curtains:
            </li>
        </ol>
        <div>
            <table>
                <colgroup>
                    <col width="288">
                    <col width="288">
                </colgroup>
                <tbody>
                <tr>
                    <td>If you want curtains to...</td>
                    <td>Then measure the height from the mount to...</td>
                </tr>
                <tr>
                    <td>Touch the floor</td>
                    <td>the floor and add 1 inch to it</td>
                </tr>
                <tr>
                    <td>Not touch the floor</td>
                    <td>1 inch above the floor</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>You can refer the illustrations below:</p>

        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithoutRod3.jpg" alt="" width="332px;" height="417px;"
                 class="cursor-pointer">
        </div>
        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithoutRod4.jpg" alt="" width="334px;" height="446px;"
                 class="cursor-pointer">
        </div>
    </div>


    <div class="no-of-curtains-description">
        When curtain rod is mounted:
    </div>

    <div class="curtain-modal-container columns">
        <ol>
            <li>
                Measure the length of the curtain rod to determine the width of the curtain.
            </li>
        </ol>
        <p>
            <span>Note: </span>
            <span>Once you provide us with the length of your curtain rod, we calculate how many curtains of a
                particular heading style would be required to cover your door. </span>
        </p>

        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithRod1.jpg" alt="" width="349px;" height="466px;"
                 class="cursor-pointer">
        </div>

        <ol start="2">
            <li>
                To measure the height of your curtain, measure the distance from the curtain rod to the lowest point
                where you want your curtain to fall.
            </li>
        </ol>

        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithRod2.jpg" alt="" width="362px;" height="483px;"
                 class="cursor-pointer">
        </div>

        <ol start="3">
            <li>
                Determine the lowest point of your curtains:
            </li>
        </ol>
        <div>
            <table>
                <colgroup>
                    <col width="288">
                    <col width="288">
                </colgroup>
                <tbody>
                <tr>
                    <td>If you want curtains to...</td>
                    <td>Then measure the height from the curtain rod to...</td>
                </tr>
                <tr>
                    <td>touch the floor</td>
                    <td>the floor and add 1 inch to it</td>
                </tr>
                <tr>
                    <td>not touch the floor</td>
                    <td>1 inch above the floor</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>You can refer the illustrations below:</p>

        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithRod3.jpg" alt="" width="303px;" height="404px;"
                 class="cursor-pointer">
        </div>

        <div class="row center">
            <img ng-src="{{ STATIC_URL }}img/CustomCurtains/doorWithRod4.jpg" alt="" width="328px;" height="437px;"
                 class="cursor-pointer">
        </div>
    </div>
</div>