<div id="samplesDisplay" class="no-display">
    <div>
        <h6>ORDER SAMPLES</h6>
        <p class="margin-bottom-0">(Get up to 15 samples for a non-refundable shipping & handling fee of Rs.150)</p>

        <p class="margin-bottom-0">*Note: This fee is non-refundable. Our agent will deliver the samples.</p>

        <p>*Printed curtain samples are for quality reference only and might not exactly match the print displayed on the website.</p>
    </div>

    <div samples-data></div>

    <div class="center">
        <button type="button" class="nextButton buy-now" id="orderSamplesButton" ng-click="orderSamples()" ng-disabled="samplesCount == 0">
            ORDER 15 SAMPLES @ Rs. 150/-
        </button>
    </div>

</div>
