<div id="showZoomImage" class="no-display">
    <div class="columns">
        <div class="large-7 columns">
            <img id="modalZoomImage">
            <p class="right">Roll over image to zoom.</p>
        </div>

        <div class="large-5 columns">
            <p class="font-size-14"><b>{$ zoomImageDetails.name $}</b></p>
            <p class="font-size-14">Composition : {$ zoomImageDetails.composition $}</p>
            <p class="font-size-14">Material : {$ zoomImageDetails.material $}</p>
            <p class="font-size-14">Pattern : {$ zoomImageDetails.pattern $}</p>
            <p class="font-size-14">Color : {$ zoomImageDetails.color $}</p>
            <p class="font-size-14">GSM : {$ zoomImageDetails.GSM $}</p>
            <p class="font-size-14">SKUID : {$ zoomImageDetails.SKUID $}</p>
        </div>
    </div>
</div>