<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="/static/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


</head>
<body>

    <div  ng-app >

        <h1>{{ 10+10 }}</h1>
    </div>



<script src="/static/angular.min.js"></script>
<script src="/static/script.js"></script>
<script>
    $(document).ready(function () {


    })
</script>

</body>
</html>



