{% extends "layout.html" %}
{% block title %}Filters{% endblock%}
{% block body %}

<div class="row columns large-12 medium-12 small-12 large-centered ">
    <ul class="breadcrumbs" >
        <li><a href="/by_date_html">LIST BY DATE</a></li>
        <li><a href="/by_city_html">LIST BY CITY</a></li>
        <li><a href="/by_city_date_html">LIST BY DATE AND CITY</a></li>
        <li><a href="/up_and_past">UPCOMING AND PAST EVENTS</a></li>
        <li><a href="/by_date_range_html">LIST BY DATE RANGE</a></li>
    </ul>
</div>

{% block content %}
{% endblock %}

{% endblock%}

